* {
  background-color:BLACK;
  color:white ;
}

body {
  background: black;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.bg-image {
  background-color: black;
  /* background-image: url('https://source.unsplash.com/kKvQJ6rK6S4/660x1000'); */
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#linkedin{
  align-items: center;
}
a:link, a:visited {
  background-color :#33AEFF;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: black;
}
